@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(portfolio7.png);
    background-size: cover;
    background-position: center;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* keeps it behind all your content */
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: brightness(0.6); /* optional to make text readable */
}

.video-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; /* dark overlay */
}


@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    background: transparent;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.header-text p{
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-family: "Libertinus Mono", monospace;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.header-text h1 span{
    color: #ff004f;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
}

.neon {
    color: #ff146a;
    text-shadow:
        0 0 2px #ff146a,
        0 0 6px rgba(255, 20, 106, 0.6),
        0 0 12px rgba(255, 20, 106, 0.4),
        3px 3px 6px rgba(0, 0, 0, 0.6); /* soft dark shadow */
}



/*-----------about-------------*/

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 h1{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    font-family: "Libertinus Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.about-col-2 p{
    margin-top: 2%;
    font-size: 20px;
    text-align: justify;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-weight: 500;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 14px;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*-------------services-------------*/

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: transparent;
    background-color: rgb(0,0,0,0.4);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 12px;
    transition: background 0.5s, transform 0.5s;
}

.container h1.sub-title{
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.services-list div i{
    font-size: 50px;                                                                                                                                                                                                                                           
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.services-list div p{
    text-align: justify;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    margin-left: 36%;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*-------------portfolio-------------*/

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

/*-------------contact-------------*/

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    color: #6d6b6c;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.3s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
    transition: transform 0.3s;
}

.btn.btn2:hover{
    background: #e6003e;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    background-color: rgb(0,0,0,0.4);
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

form .btn2:hover{
    background: #e6003e;
    transform: translateY(-5px);
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: transparent;
    background-color: rgb(0,0,0,0.4);
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: #ff004f;
}

/*-------------css for small screens-------------*/

nav .fa-solid{
    display: none;
}

@media (max-width: 768px) {

    #header {
    background-image: url(portfolio8.png);
    }

    .container {
        padding: 10px 5%;
    }

    /* NAVIGATION */
    nav .fa-solid{
    display: block;
    font-size: 25px;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav .logo {
        width: 120px;
    }

    /* HEADER TEXT */
    .header-text {
        margin-top: 150%;
        font-size: 20px;
        text-align: center;
    }

    .header-text h1 {
        font-size: 36px;
    }

    .header-text h1 span {
        font-size: 50px;
    }

    .social-icons.neon.header {
    /* your styles here */
        margin-top: 6px;
        margin-left: 22%;
    }

    /* ABOUT SECTION */
    .row {
        flex-direction: column;
        text-align: center;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 img {
        width: 80%;
        margin: 0 auto 20px auto;
        display: block;
    }

    .about-col-2 h1 {
        font-size: 40px;
    }

    .about-col-2 p {
        font-size: 16px;
        margin-top: 30px;
    }

    .tab-titles {
        justify-content: center;
    }

    /* SERVICES SECTION */
    .services-list {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .services-list div {
        padding: 25px;
    }

    /* PORTFOLIO GRID */
    .work-list {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .work img {
        width: 100%;
    }

    /* CONTACT SECTION */
    .contact-left, .contact-right {
        flex-basis: 100%;
        text-align: center;
    }

    .contact-left p {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }

    form input, form textarea {
        font-size: 16px;
    }

    .btn.btn2 {
        padding: 12px 40px;
        font-size: 16px;
    }

    /* COPYRIGHT */
    .copyright {
        font-size: 14px;
        padding: 15px 0;
    }
}

#msg{
    color: #ff004f;
    margin-top: -40px;
    display: block;
}

/*-------------scrollbar-------------*/

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #121212;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#ff004f,#b54769);
    border-radius: 10px;
}
    
#scrollTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 45px;
    height: 45px;
    background: #ff0055; 
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: none; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #ff0055;
    transition: 0.3s;
    z-index: 999;
}

#scrollTopBtn:hover {
    box-shadow: 0 0 20px #ff0055, 0 0 40px #ff0055;
    transform: scale(1.1);
}
